body{
    background-color: white;
}
#mapEurope { 
    border:1px solid black;
    height: 500px; 
    width: 500px;
}
#position {
    background-color: ghostwhite;
    border:1px solid black;
    width: 500px; 
    height: 100px; 
    overflow-y: scroll;
}